.footer {
	max-width: var(--container);
	margin: 0 auto;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-accent);
	background: #000;
	font-family: "Zen Antique", serif;
}

/* SP */
@media (max-width: 768px) {
	.footer {
		max-width: 100%;
		padding: 0 8px;
		height: 40px;
	}
}